 <!-- <title>Crypto Hero | Login</title>
<h1> Login </h1>

 <%# if flash[:errors] %>
    <%# flash[:errors].each do |error| %>
        <%#  error %>
    <%# end %>
<%# end %>

<%# form_tag login_index_path do  %>
    <ul>
        <li>
            <%# label_tag :username, "Username:"%>
            <%# text_field_tag :username %>
        </li>
        <br>
        <li>
            <%# label_tag :password, "Password:"%>
            <%# password_field_tag :password %>
        </li>
    </ul>
    <br>
    <%# submit_tag "Login" %>
<%# end %>
<br>
<%# link_to "Create Account", new_user_path %> -->


<html>
<head>
    <title>Crypto Hero</title>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/login.scss">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <h2 class="inactive underlineHover">
              <%= link_to "Sign Up", new_user_path %>
            </h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="/assets/cryptocurrency.png" id="icon" alt="Cryptocurrency Icon" />
            </div>

            <!-- Login Form -->
            <form action="/login" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</body>
</html>
