/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Poppins');

 * {
  font-family: "Poppins", sans-serif;
  color: darkgray;
 }

 body {
  background-color:  rgb(49, 45, 45);
  margin: 0;
 }

 .wrapper-1 {
  background-color: rgb(49, 45, 45);
  width: 100vw;
  // height: 100vw;
  // margin-left: auto;
  // margin-right: auto;
  // box-shadow: 10px 10px 20px 10px grey;
  // border-right: 1px solid rgb(209, 201, 201);
  // border-left: 1px solid rgb(209, 201, 201);
  // border-bottom: 1px solid rgb(209, 201, 201);
 }

 .content {
   padding: 100px 15px 20px 15px;
 }

 .content ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(49, 45, 45);
 }

 .content a {
   text-decoration: none;
   color: darkgrey;
 }

 .content a:hover {
   text-decoration: underline #8c51ff;
 }

 .nav {
   margin-top: -10px;
   height: 10vh;
   padding: 3vh;
   position: fixed;
   width: inherit;
   background-color: rgb(34, 32, 32);
   font-size: large;
 }

 .nav ul {
   list-style-type: none;
   margin: 0;
  //  padding: 5vh;
   overflow: hidden;
   background-color: black;
   height: 10vh
 }

 .nav li {
  float: left;
  list-style-type: none;
 }

 .nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  max-height: 80px;
 }

 .nav .right-nav {
   float: right;
 }

 .nav li a:hover {
   background-color: #8c51ff;
 }

 .bitcoin {
   width: 25px,
 }

 .main-content {
   display: block;
   text-align: left;
   padding: 30px 15px 15px 30px;
   text-decoration: none;
 }

 footer {
   text-align: center;
   background-color: rgb(34, 32, 32);
   font-size: small;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
 }

 footer a {
   color: darkgrey;
 }

 footer a:hover {
   text-decoration: underline #8c51ff;
 }
